- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

//- jQuery
- scripts.add(["//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"])

//- Zurb Foundation
- scripts.add(["/vendor/zurb-foundation/js/foundation/foundation.js"])
- scripts.add(["/vendor/zurb-foundation/js/foundation/foundation.alert.js"])
- scripts.add(["/vendor/zurb-foundation/js/foundation/foundation.clearing.js"])
- scripts.add(["/vendor/zurb-foundation/js/foundation/foundation.cookie.js"])
- scripts.add(["/vendor/zurb-foundation/js/foundation/foundation.dropdown.js"])
- scripts.add(["/vendor/zurb-foundation/js/foundation/foundation.forms.js"])
- scripts.add(["/vendor/zurb-foundation/js/foundation/foundation.interchange.js"])
- scripts.add(["/vendor/zurb-foundation/js/foundation/foundation.joyride.js"])
- scripts.add(["/vendor/zurb-foundation/js/foundation/foundation.magellan.js"])
- scripts.add(["/vendor/zurb-foundation/js/foundation/foundation.orbit.js"])
- scripts.add(["/vendor/zurb-foundation/js/foundation/foundation.placeholder.js"])
- scripts.add(["/vendor/zurb-foundation/js/foundation/foundation.reveal.js"])
- scripts.add(["/vendor/zurb-foundation/js/foundation/foundation.section.js"])
- scripts.add(["/vendor/zurb-foundation/js/foundation/foundation.tooltips.js"])
- scripts.add(["/vendor/zurb-foundation/js/foundation/foundation.topbar.js"])

//- Google Web Fonts
- styles.add(["http://fonts.googleapis.com/css?family=Quicksand:300,400,700"])

//- User
- styles.add(["/styles/style.css"])

!!!
html(lang="en")
  head

    // Meta
    meta(charset="utf-8")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    //- Our site title and description
    title= getPreparedTitle()
    meta(name="description", content=site.description || '')
    meta(name="keywords", content=site.keywords || '')
    meta(name="author", content=site.author || '')

    //- Output DocPad produced meta elements
    != getBlock('meta').toHTML()

    //- Mobile viewport optimized: h5bp.com/viewport
    meta(name="viewport", content="width=device-width")

    // Favicon
    link(rel="shortcut icon", href="ico/favicon.ico")

    // Styles
    != styles.toHTML()

    // Modernizr
    script(src="/vendor/zurb-foundation/js/vendor/custom.modernizr.js")

  body

    // Markup
    nav.top-bar
      ul.title-area
        li.name
          h1
            a(href="#") Austin Kettner
        li.toggle-topbar.menu-icon
          a(href="#")
            span Menu

      section.top-bar-section
        ul.left
          each doc in getCollection('pages').toJSON()
            - page_class = (document.url === doc.url) ? 'active' : null
            li(about=doc.url, class=page_class)
              a(href=doc.url, property="dc:title")= doc.title

        // Right Nav Section
        ul.right
          li.divider.hide-for-small
          li.has-dropdown
            ul.dropdown
              each doc in getCollection('pages').toJSON()
                - page_class = (document.url === doc.url) ? 'active' : null
                li.divider
                li(about=doc.url, class=page_class)
                  a(href=doc.url, property="dc:title")= doc.title

    .container
      section#content.content!= content
      hr
      footer
        div= site.copyright

    // Scripts
    != scripts.toHTML()
    script $(document).foundation();